body{
    margin: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.car{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}
img{
    width: 50px;
}